# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# Python virtual environment
.venv
venv/
env/

# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE and OS specific
.idea/
.vscode/
*.DS_Store

# Local development files (if any)
# .env
# local_settings.py